@{
    var isDoc = Request.FilePath.IndexOf("/Documentation/") != -1;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>@Page.Title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Learn about the open source frameworks and SDKs for Microsoft Azure including our Java, PHP, Node.js, Python and other libraries. We also provide information and guidelines for contributing to our open source projects on GitHub. All Azure open source projects have a flexible Apache 2.0 license.">
        <meta name="author" content="Microsoft Azure SDK">

        <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href="/Styles/css/bootstrap.min.css" rel="stylesheet">
        <link href="/Styles/css/bootstrap-responsive.min.css" rel="stylesheet">
        <link href="/Styles/css/azureopensource.css" rel="stylesheet">

        <link rel="shortcut icon" href="//az83882.vo.msecnd.net/favicon.ico">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
          <div class="navbar-inner">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button><!-- style="padding:15px 15px 5px 15px;margin-top:-5px" -->
              <a class="brand" href="//azure.microsoft.com/"><!-- img 
                  src="azure/windowsazurelogo.png" style="width:218px;height:35px;border:0px"
                  alt="Microsoft Azure" title="Windows Azure" / -->Microsoft Azure</a>
              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li class="active"><a href="/">Home</a></li>
                  <li class="active"><a href="https://github.com/azure">GitHub</a></li>
                  <li class="active"><a href="http://azuresdkci.cloudapp.net/">CI Server</a></li>
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

        <div class="container">
            <article id="MainDiv">
                <div id="MainHeaderDiv">
                    </div>
                    <div id="PageInternalHeaderDiv">
                    </div>
                    <a id="PageTop"></a>
                <div id="PageHeaderDiv">
                    <h1 class="pagetitle">@Page.DocumentTitle</h1>
                </div>
                <div id="PageContentDiv">
                    @RenderBody()
                </div>
            </article>
            <footer>
                <p class="pull-right"><a href="#top">Back to top</a></p>
                <div class="links">
                  <a href="//azure.microsoft.com/">Azure.Microsoft.com</a> |
                  <a href="http://blogs.msdn.com/b/windowsazure/">Azure Blog</a> |
                  <a href="https://twitter.com/windowsazure">@@windowsazure</a> |
                  <a href="https://github.com/azure/">GitHub</a>
                </div>

                <p><small>
                    &copy; Microsoft | 
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=131004&clcid=0x409">Privacy and Cookies</a> |
                    <a href="http://go.microsoft.com/fwlink/p/?linkid=222682&clcid=0x409">Trademarks</a>
                    </small></p>
            </footer>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
    </body>
</html>
